# ==========================================
# Java & 빌드 도구 (컴파일 파일 및 빌드 결과물)
# ==========================================
*.class
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# ==========================================
# IDE (개발 도구 설정 파일)
# ==========================================
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### STS / Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### VS Code ###
.vscode/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### BlueJ ###
*.ctxt

# ==========================================
# 로그 및 시스템 파일
# ==========================================
*.log
.mtj.tmp/
hs_err_pid*
replay_pid*